html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #081e40;
    
} 
 /*ALL CAPTAINS POSTER IMG STYLING  */
#poster{ 
    width: 100%;
    height: 700px;
    
}
/* SLOGAN BELOW THE POSTER "GAME ON STYLE UP" */
.slogan{
    margin-top: 40px;
    margin-left: 30%;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-size: 90px;
    font-style: normal;
    color: white;
}
/* IPL LOGO */
.ipl-logo{
    width: 200px;
    height: 200px;
    margin-left: 45%; 
    margin-bottom: 60px;
}
/* JERSEY IMG STYLING */
.card img{
    width: 298px;
    height: 298px;
}
/* ALL JERSEY TITLE */
.card h4{
    font-weight: 700;
    font-size: larger;
}
/* ALL JERSEY PRICE */
.card p{
    font-weight: 600;
    font-size: large;
}
/* CARD (FOR JERSEY) STYLING  */
.card{
    margin: 20px;
    background-color: #19398a;
    color: white;
    transition: box-shadow 0.3s ease;
}
/* when you hover on jersey card it will show glowing effect */
.card:hover{
    box-shadow: 0 0 25px rgb(186, 206, 8 , 2);
    cursor: pointer;
}
